.player{
    display: flex;
    align-items: center;
    background-color: rgb(251, 189, 74);
    width: 320px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    > span{
        font-size: 32px;
        margin-left: 16px;
    }
    
    > img{
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }
}