@use "../../styles/mixins.scss" as mixins;

.start-screen{
    background-color: #404040;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    @include mixins.d-flex();
}

img{
    height: 80%;
    width: 60%;
    max-width: 1200px;
    max-height: 1900px;
}

.h1-background{
    @include mixins.d-flex();
    position: absolute;
    top: 20%;
    background-color: rgb(244, 240, 232);
    padding: 8px 16px;
    border-radius: 8px;
    border: 4px solid goldenrod;
    height: 64px;
}

h1{
    margin: 0;
    font-size: 64px;
}

button{
    position: absolute;
    bottom: 30%;
    color: white;
    font-size: 32px;
    background-color: goldenrod;
    border: none;
    padding: 8px 16px;
    border-radius: 12px;
    &:hover{
        background-color: gold;
    }
}