<app-player
  *ngFor="let player of game.players; let i = index"
  class="player-position"
  [ngStyle]="{ 'top.px': 40 + i * 80 }"
  [name]="player"
  [playerActive]="i == game.currentPlayer"
></app-player>

<section class="field">
  <div class="card-stack">
    <!-- Card stack -->
    <img
      [ngStyle]="{ 'right.px': i * 5 }"
      *ngFor="let card of [0, 1, 2, 3]; let i = index"
      src="assets/img/card_cover.png"
      alt="Card cover"
    />
    <!-- Top card-->
    <img
      (click)="takeCard()"
      class="top-card"
      style="right: 25px"
      src="assets/img/card_cover.png"
      alt="Top card"
    />
    <!-- Stack of played cards-->
    <img
      *ngFor="let card of game.playedCards"
      class="played-card"
      src="assets/img/{{ card }}.png"
      alt="Played cards"
    />
    <!-- Current animated card-->
    <img
      (click)="takeCard()"
      *ngIf="pickCardAnimation"
      class="pick-card"
      style="right: 25px"
      src="assets/img/{{ currentCard }}.png"
    />
  </div>
</section>

<app-game-info [card]="currentCard" class="pin-bottom"></app-game-info>

<button matFab class="btn-add" (click)="openDialog()">
  <mat-icon>add_2</mat-icon>
</button>

<app-add-first-player *ngIf="this.game.players.length < 1"></app-add-first-player>
